body {

margin:0;
font-family: Arial, sans-serif;
background:#fff0f5;
color:#333;
text-align:center;

}


section {

padding:60px 20px;

}


.inicio {

height:100vh;

display:flex;
flex-direction:column;
justify-content:center;

background:
linear-gradient(
rgba(255,0,100,.3),
rgba(255,0,100,.3)
),
url("fotos/fundo.jpg");

background-size:cover;
color:white;

}



h1 {

font-size:45px;

}


h2 {

color:#e91e63;

}



.galeria {

display:flex;
justify-content:center;
gap:15px;
flex-wrap:wrap;

}


.galeria img {

width:250px;
height:300px;
object-fit:cover;

border-radius:20px;

box-shadow:0 5px 20px #aaa;

}



p {

font-size:20px;
line-height:1.6;

}