*{
margin:0;
padding:0;
box-sizing:border-box;
}


html{
scroll-behavior:smooth;
}


body{

background:

linear-gradient(
180deg,
#001b35,
#003b66,
#00111f
);


color:white;

font-family:

'Segoe UI',
Arial,
sans-serif;


overflow-x:hidden;

}




/* FUNDO DO MAR */


body::before{

content:"";

position:fixed;

inset:0;


background:

linear-gradient(
180deg,
rgba(0,80,150,.4),
transparent
);


z-index:-2;

}




.mar{

position:fixed;

inset:0;

overflow:hidden;

pointer-events:none;

z-index:1;

}





.animal{

position:absolute;

right:-120px;

font-size:45px;

opacity:.35;


animation:

nadar 18s linear infinite;


}




.peixe{

top:20%;

}



.peixe2{

top:40%;

animation-delay:5s;

}



.tartaruga{

top:60%;

animation-delay:8s;

}



.baleia{

top:75%;

font-size:70px;

animation-delay:12s;

}



.polvo{

top:50%;

animation-delay:15s;

}







@keyframes nadar{


0%{

transform:translateX(0);

}


100%{

transform:translateX(-120vw);

}


}










section{


min-height:100vh;


padding:45px 20px;


display:flex;


flex-direction:column;


justify-content:center;


align-items:center;


text-align:center;


position:relative;


z-index:5;

}




h1{

font-size:40px;

color:#aeeeff;

}



h2{

font-size:28px;

color:#bdefff;

margin-bottom:20px;

}




p{

font-size:17px;

line-height:1.7;

max-width:650px;

}





button{


margin-top:20px;


padding:14px 30px;


border:none;


border-radius:30px;



background:

linear-gradient(
90deg,
#0077ff,
#00cfff
);



color:white;


font-size:17px;


cursor:pointer;


}




/* FOTO */


.foto-principal{


width:85%;

max-width:350px;


border-radius:25px;

}








/* DATAS */


.data{


font-size:26px;

font-weight:bold;


letter-spacing:3px;


color:#d9fbff;


}









/* CONTADORES */


.contador-beijo,
.tempo{


display:grid;


grid-template-columns:repeat(3,1fr);


gap:10px;


margin-top:20px;


}



.contador-beijo div,
.tempo div{


background:

rgba(255,255,255,.12);



padding:15px;


border-radius:18px;


}




span{


display:block;


font-size:25px;


color:#9feaff;


font-weight:bold;


}









/* GALERIA */


.galeria{


display:flex;


gap:15px;


width:100%;


overflow-x:auto;


padding:10px;

}



.card{


min-width:85%;


background:

rgba(255,255,255,.12);



padding:15px;


border-radius:20px;


}




.card img{


width:100%;


border-radius:15px;

}










/* CARTA */


.area-carta{


display:flex;


justify-content:center;


align-items:center;


}



.envelope{


width:120px;

height:85px;


background:#0b6fa4;


position:relative;


cursor:pointer;


border-radius:8px;


transition:.5s;


box-shadow:

0 0 30px #00bfff;


}




.envelope:before{


content:"";


position:absolute;


top:0;


left:0;


border-left:60px solid transparent;

border-right:60px solid transparent;


border-top:45px solid #55d8ff;


}





.envelope:hover{


transform:scale(1.1);


}







.papel{


width:90%;

max-width:420px;


background:

rgba(255,255,255,.15);


backdrop-filter:blur(10px);



padding:25px;


border-radius:20px;


margin-top:25px;


opacity:0;


visibility:hidden;


transform:translateY(30px);



transition:.6s;



}



.papel.mostrar{


opacity:1;


visibility:visible;


transform:translateY(0);

}








.clique{

margin-top:15px;

}









/* CORAÇÕES */


.coracao{


position:fixed;

font-size:25px;

bottom:0;

z-index:100;


animation:

subir 2s linear forwards;


}



@keyframes subir{


to{

transform:translateY(-250px);

opacity:0;

}


}








/* FOTO GRANDE */


#visualFoto{


display:none;


position:fixed;


inset:0;


background:

rgba(0,0,0,.85);


z-index:200;


justify-content:center;


align-items:center;


}



#visualFoto img{


max-width:90%;


border-radius:20px;


}









@media(max-width:600px){



h1{

font-size:34px;

}



h2{

font-size:23px;

}



.data{

font-size:21px;

}


.contador-beijo,
.tempo{

grid-template-columns:repeat(2,1fr);

}



.envelope{

width:100px;

height:70px;

}


.envelope:before{


border-left-width:50px;

border-right-width:50px;


}


}
